<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Blog Title</th>
      <th>Body</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <!-- In the background, Rails looks for a partial called blog, which we have (_blog.html.erb). For this to work, you must pass in instance var (index action in blog controller). Rails finds the partial _blog, & automatically iterates over blog posts (we don't need to include each loop in _blog). -->
    <%= render @blogs %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>
