<h1>Home Page</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1>Blog Posts</h1>
<!-- Display the blog posts, which this view accesses via the @posts var that was created in the pages controller -->
<%= @posts.inspect %>

<h1>Skills</h1>
<%= @skills.inspect %>